$mainColor: #4545ff;
  @font-face {
  font-family: Poppins-Bold;
  src: url('../../assets/fonts/Poppins-Bold.ttf');
  }
  @font-face {
    font-family: Poppins-Regular;
    src: url('../../assets/fonts/Poppins-Regular.ttf');
  }
  .resetPasswordWrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .nav{
      background-color: $mainColor;
      width: 100%;
      min-height: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
      .nav__container{
        width: 95%;
      }
    }
    .container{
      position: relative;
      height: 90%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }