
  @font-face {
  font-family: Poppins-Bold;
  src: url('../../assets/fonts/Poppins-Bold.ttf');
  }
  @font-face {
    font-family: Poppins-Regular;
    src: url('../../assets/fonts/Poppins-Regular.ttf');
  }
  .resetPasswordWrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .container{
      position: relative;
      height: 90%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .info{
      font-size: 24px;
      font-family: Poppins-Regular;
    }
  }